*{
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;

}
a{
    list-style: none;
    text-decoration: none;
    color: #f5f5f5;
}
ul{
    list-style: none;
}

