.container-empresa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #303944;
    max-width: 1200px;
    width: 100%;
}
.container-sobre{
    max-width: 1200px;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}
.empresa{
    background-color: #303944;
    padding: 0;
    margin: 0;
}
.card-empresa{
    display: flex;
    flex-direction: column;
    background-color: #303944;
    justify-content: space-around;
    align-items: center;
    max-width: 60%;
}
.img-empresa {
    width: 100%;
}
.empresa-titulo{
    color: #fcc300;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

}
.empresa-titulo2{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

}
.empresa-texto{
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-empresa{   
    width: 300px;
    height: auto;

}
.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:80px;

}
.card-empresa2{
    display: flex;
    flex-direction: column;
    background-color: #303944;
    justify-content: left;
    align-items: center;
    max-width: 60%;
    padding: 0px;
}
.texto-sobre{
    padding: 0;
    margin: 0;
    color: black;
}
.card-sobre2{
    padding: 0;
    margin: 0;
    display: flex;
    align-self:flex-start;
    align-items: center;
}
.sobre-mim{
    padding: 0;
    margin-top: 50px;
    background-color: #e5e5e5;
}