nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d47a1;
    padding: 0px 30px;
}
.navegacao{
    display: flex;
    gap: 20px;
    color: #f5f5f5;
    list-style: none;
}
.logo{
    width: 200px;
    height: 100px;
}

.redes-sociais{
    display: flex;
    gap: 20px;
}

.redes{
    width: 30px;

}

.li-nav{
    display: flex;
    text-decoration: none;
    color: white;
    list-style: none;
}

.li-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease;
}

.li-nav a:hover {
    color: #fcc300;
}