.sobre{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 50px 0px;
    background-color: #e5e5e5;
}
.sobre-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #303944;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 60%;
}
.sobre-texto {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}
.titulo-sobre{
    font-size: 2em;
    color: #303944;
}
.sobre-imagem {
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    display: flex;
}
.imagem-sobre{
    width: 100%;
}