.galeria{
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #e0e0e0;
}
.carrousel-img{
    height: 500px;
    width: 600px;
}
.titulo-galeria{
    display: flex;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 50px;
    padding: 5px;
    justify-self: center;

}