nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d47a1;
    padding: 0px 30px;
}
.navegacao{
    display: flex;
    gap: 20px;
    color: #f5f5f5;
}
.logo{
    width: 200px;
    height: 100px;
}

.redes-sociais{
    display: flex;
    gap: 20px;
}

.redes{
    width: 40px;

}